<% include ../head %>

<h1>Datasets list</h1>

<p><a class="btn btn-success" href="/datasets/upload">Upload Dataset</a></p>

<ul>
  <% for(var i=0; i<datasets.length; i++) {%>
    <li><a href="/datasets/<%= datasets[i].id %>"><%= datasets[i].series %></a> 
        - <a href="/users/<%= datasets[i].user.id %>"><%= datasets[i].user.username %></a></li>
  <% } %>
</ul>

<% include ../foot %>