<% include ../head %>

<h1>Upload Dataset File</h1>

<form action="/datasets/upload" method="post" role="form" enctype="multipart/form-data" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputFile">Select File:</label>
    <div class="col-sm-6">
      <input type="file" name="file" class="form-control" id="inputFile">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputLocation">Location :</label>
    <div class="col-sm-6">
      <select name="location" id="inputLocation" class="form-control">
      <% for (var i = 0; i < locations.length; i++) { %>
        <option value="<%= locations[i] %>"><%= locations[i] %></option> 
      <% } %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="inputVariable">Variable :</label>
    <div class="col-sm-6">
      <select name="variable" id="inputVariable" class="form-control">
      <% for (var i = 0; i < variables.length; i++) { %>
        <option value="<%= variables[i] %>"><%= variables[i] %></option> 
      <% } %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>

<% include ../foot %>