<% include head %>

<h1>Welcome</h1>
<% if (!user) { %>
  <p>Please <a href="/users/login">log in</a>.</p>
<% } else { %>
  <p>Hello, <%= user.username %>.</p>
  <p><a href="/users/logout">Log out.</a></p>
<% } %>

<% include foot %>